name: Scheduler

on:
  workflow_dispatch:
  schedule:
    - cron: '*/30 * * * *'
  push:
    branches: [ master ]

permissions:
  contents: write

jobs:
  update-sponsors:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js 20.x
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - run: npm i

      - name: Update sponsors
        run: npm run build
        env:
          SPONSORKIT_GITHUB_TOKEN: ${{ secrets.SPONSORKIT_GITHUB_TOKEN }}
          SPONSORKIT_GITHUB_LOGIN: johnsoncodehk

      - name: Commit
        uses: EndBug/add-and-commit@v9
        with:
          message: "chore: update sponsors.svg"
          default_author: github_actions
          add: "sponsors.png sponsors.svg members.json"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
